<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<div th:replace="fragments/head :: headTags">
	</div>
	<title>Form Agenti</title>
</head>

<body>
	<h1 class="mx-5 text-center">Agenti</h1>
	<hr>
	<form id="agente-form" th:object="${agente}"
		th:action="${modifica} ? @{/administration/agenti/modifica/{id}(id=${agente.id})} : @{/administration/agenti/crea}" method="post">
		<div class="row">
			<div class="col-6 offset-3">
				<div class="row mx-4">
					<div class="col-6">
						<label class="form-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"
							th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
							<ul>
								<li th:each="err:${#fields.errors('nome')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="col-6">
						<label class="form-label" for="cognome">Cognome</label>
						<input type="text" class="form-control" id="cognome" th:field="*{cognome}"
							th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
							<ul>
								<li th:each="err:${#fields.errors('cognome')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="col-12 d-flex justify-content-between">
						<button class="btn btn-primary mt-3" type="submit"><i class="fas fa-check"></i> Salva</button>
						<a class="btn btn-primary mt-3" th:href="@{/administration/agenti}"><i class="fas fa-times"></i> Annulla</a>
					</div>
				</div>
			</div>


	</form>
	<div th:replace="fragments/head ::scripts"></div>

</body>

</html>