body {
	background-color: rgb(184, 223, 248);
	position:relative;
}

footer {
	position: absolute;
	top: 100%;
	margin-top: 100px;
}


a:visited{
    color: black;
    text-decoration:none;

}
a:hover{
    color: black;
    text-decoration:underline;

}

.font{
    font-size: 14px;
}

.row{
    position: relative;
}
.buttons{
   position: absolute;
   right: 15px;
   bottom: 5px; 
}
.heart:hover{
    color:red ;
}

.zona {
	
	color: rgb(38, 87, 117);
}

#metri {
	color:rgb(38, 87, 117);
}

#bagni{
	color:rgb(38, 87, 117);
}

#tipologia{
	color:rgb(38, 87, 117);
}

#agente{
	color:rgb(38, 87, 117);
}