<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- head navbar -->
<th:block th:fragment="nav">
	<header>
    
    <!-- Navbar completa di tasto home e navigazione -->
    
    <nav class="navbar navbar-light bg-light p-0 mb-4">
        <div class="container-fluid">
            <a style="color: rgb(38, 87, 117);" class="navbar-brand fs-3" th:href="@{/GenerationsImmobiliare/home}"><i class="fas fa-landmark fs-4"></i></i> Generation Immobiliari</a >
            <a style="color: rgb(38, 87, 117);" class="navbar-text" th:href="@{/administration/agenti}"><i class="fas fa-user-shield"></i> Area Riservata</a >
        </div>    
      </nav>
  </header>

  </header>
  <body class="container-fluid" style="position:absolute; width: 100%;" >
	
</th:block>