<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<div th:replace="fragments/head :: headTags">
	</div>
	<title>Home - Amministrazione</title>
</head>
<div th:replace="fragments/navbarAdmin :: nav"></div>
<header>

</header>

<body>
	<h1 class="text-center">Home amministrazione</h1>
	<hr />
		<h1 class="text-center">Lista Immobili più recenti</h1 >
		<div class="container">
			<table class="table" th:if="${listaImmobiliRecenti.size > 0}">
				<thead>
					<tr>
						<th>Canone</th>
						<th>Data inserimento</th>
						<th>In vendita</th>
						<th>Indirizzo</th>
						<th>Libero</th>
						<th>Agente</th>
						<th>Visualizzazioni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${listaImmobiliRecenti}">
						<td th:text="${item.canone}"></td>
						<td th:text="${item.dataIns}"></td>
						<td th:if="${item.inVendita}">In Vendita</td>
						<td th:unless="${item.inVendita}">In Affitto</td>
						<td th:text="${item.indirizzo}"></td>
						<td th:if="${item.libero}">Libero</td>
						<td th:unless="${item.libero}">Occupato/Venduto</td>
						<td th:text="|${item.agente.nome} ${item.agente.cognome}|"></td>
						<td class="text-center" th:if="${item.numVisual}" th:text="${item.numVisual}"></td>
						<td class="text-center" th:unless="${item.numVisual}">0</td>
						<td>
							<a class="btn btn-primary" th:href="@{|/administration/immobili/modifica/${item.id}|}"><i
									class="fas fa-edit"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="alert alert-primary" role="alert" th:unless="${listaImmobiliRecenti.size>0}">
				non ci sono immobili pubblicati negli ultimi 7 giorni.
			</div>
		</div>
		
		<!-- Lista Immobili Più visualizzati -->
		<h1 class="text-center">Lista Immobili più visualizzati</h1 >
		<div class="container">
			<table class="table" th:if="${listaImmobiliPiuVisualizzati.size > 0}">
				<thead>
					<tr>
						<th>Canone</th>
						<th>Data inserimento</th>
						<th>In vendita</th>
						<th>Indirizzo</th>
						<th>Libero</th>
						<th>Agente</th>
						<th>Visualizzazioni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${listaImmobiliPiuVisualizzati}">
						<td th:text="${item.canone}"></td>
						<td th:text="${item.dataIns}"></td>
						<td th:if="${item.inVendita}">In Vendita</td>
						<td th:unless="${item.inVendita}">In Affitto</td>
						<td th:text="${item.indirizzo}"></td>
						<td th:if="${item.libero}">Libero</td>
						<td th:unless="${item.libero}">Occupato/Venduto</td>
						<td th:text="|${item.agente.nome} ${item.agente.cognome}|"></td>
						<td class="text-center" th:if="${item.numVisual}" th:text="${item.numVisual}"></td>
						<td class="text-center" th:unless="${item.numVisual}">0</td>
						<td>
							<a class="btn btn-primary" th:href="@{|/administration/immobili/modifica/${item.id}|}"><i
									class="fas fa-edit"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="alert alert-primary" role="alert" th:unless="${listaImmobiliPiuVisualizzati.size>0}">
				non ci sono immobili visualizzati.
			</div>
		</div>
		
		<!-- Lista Appuntamenti Prossima Settimana -->
		
		<h1 class="text-center">Lista Appuntamenti Prossima Settimana</h1 >
		<div class="container">
			<table class="table" th:if="${listaAppuntamentiProssimaSettimana.size > 0}">
				<thead>
					<tr>
						<th>Data</th>
						<th>Slot Orario</th>
						<th>Agente</th>
						<th>Cliente</th>
						<th>Immobile</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${listaAppuntamentiProssimaSettimana}">
						<td th:text="${item.data}"></td>
						<!--<td th:text="${item.so.descrizione}"></td>-->
						<td>
						 <p th:each ="agente:${listaAgenti}" th:if="(${item.agente.id} == ${agente.id})" th:text="|${agente.nome} ${agente.cognome}|"></p>
						</td>
						<!--<td th:text="|${item.c.nome} ${item.c.cognome}|"></td>
						<td th:text="|${item.i.indirizzo}|"></td>
						<td>-->
							<a class="btn btn-primary" th:href="@{|/administration/immobili/modifica/${item.id}|}"><i
									class="fas fa-edit"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="alert alert-primary" role="alert" th:unless="${listaAppuntamentiProssimaSettimana.size>0}">
				non ci sono immobili visualizzati.
			</div>
		</div>
		<div th:replace="fragments/head :: scripts"></div>

</body>
<div th:replace="/fragments/footer :: foot"></div>
</html>